; Configuration file for Gateway applications.

[Controller]

; The name of the namespace to use for UUID generation in the Sharemind
; deployment instance.
; Defaults to "TestInstance".
UuidNamespace=TestInstance


; -----------------------------------------------------
; Random generator engine configuration
; -----------------------------------------------------
[Random]

; The core random number generation engine to use.
; AES      - RNG based on AES in CTR mode.
; CHACHA20 - RNG based on ChaCha20 stream cipher (default).
; SNOW2    - RNG based on SNOW2 stream cipher.
Engine = CHACHA20

; How to buffer the core RNG engine. Either:
; NONE - use no buffering.
; THREAD - have a background thread generate the randomness in a buffer.
BufferMode = THREAD

; Size of the RNG buffer (in bytes).
; Has no effect if the BufferMode is NONE.
BufferSize = 1048576


; -----------------------------------------------------
; Configuration of the network layer
; -----------------------------------------------------
[Network]

; Identity information
PublicKeyFile=controller-public-key
PrivateKeyFile=controller-private-key

ConnectTimeout=30000


; -----------------------------------------------------
; The server address book
; Describes the addresses and identities of servers on the network
; -----------------------------------------------------
[Server DebugMiner2]
Address = 127.0.0.1
Port = 40302
PublicIdentity = server2-public-key
;OutgoingTlsPriorities = NONE:+CTYPE-X509:+VERS-TLS1.2:+AES-256-GCM:+ECDHE-RSA:+AEAD:+ECDHE-RSA:+COMP-NULL:+SIGN-RSA-SHA512:+CURVE-SECP521R1
;MaxPayloadSize = 131059
